.TabsMenu {
    header: 49px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    background-color: white;

    .Tab {
        &::before {
            content: '';              
            position: absolute;      
            left: 0;                  
            top: calc( (48px - 16px) / 2 );                 
            width: 1px;               
            height: 16px;             
            background-color: #AEB6CE33;  
        }

        &:hover::before {
              width: 0;  
        }
        
        
        &:hover {
            &::before{
                width: 0;
            }
        }
    }

    &::-webkit-scrollbar {
        height: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #7F858D66; 
        border-radius: 40px;  
    }

    &::-webkit-scrollbar-track {
        background: transparent; 
        border-radius: 0;  
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;  
    }
}